.main-page .left-info-container {
  background-color: #8d9db6;
}
.main-page .right-info-container {
  background-color: #8d9db6;
}
.navbar {
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #cfe0e8;
}
